/* General reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Centering the login form in the middle of the page */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

img {
    display: block;
    margin: 0 auto;  /* Center the image horizontally */
    height: 100px;    /* Adjust the height as needed */
    width: auto;     /* Keep the aspect ratio */
    padding-bottom: 20px; /* Space between the image and the text */
}
p {
    text-align: center;
    color: #666;
}

/* Style for the form input fields */
.input-group input {
    width: calc(100% - 20px);
    margin: 0 auto;  /* Center the image horizontally */
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    display: block;
    box-sizing: border-box;
}

/* Style for the login button */
button {
    width: 100%;
    padding: 10px;
    margin: 0 auto;  /* Center the image horizontally */
    background-color: #0056b3;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #003d7a;
}

/* Style for the signup link */
.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #0056b3;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.error {
    color: red; /* Error message color */
    font-size: 14px; /* Smaller font size for error messages */
    text-align: center; /* Center the error message */
    padding: 5px; /* Padding around the text */
}