body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    color: #1f199d;
}

.nav-bar {
    width: 100%; /* Full width */
    background: #fff; /* White background for the navbar */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Shadow for some depth */
    padding: 10px 20px; /* Padding around the content */
    box-sizing: border-box; /* Includes padding in width calculation */
    position: fixed; /* Fixed at the top */
    font-family: 'Futura', sans-serif;
    font-size: large;
    font-weight: 400;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures nav is above other content */
}

/* Navbar toggler icon */
.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Right-aligned 'Log Out' button */
.navbar-nav {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.nav-item.log-out {
    margin-left: auto;
}


.container-container {
    padding-top: 90px;
    padding-bottom: 20px;
    width:80%;
} 

.background-container {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Apply a blur effect */
    z-index: -1; /* Places the background behind all other content */
}

.signup-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 30%;
    text-align: center;
    display: block;
    padding: 15px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: white;
    background-color: #1f199d;;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0.1, 0, 0, 0.1);
}


button[type="submit"]:hover {
    background-color: #120e5f;
}



/* Media Queries */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        max-width: 100%;
    }

    .nav-bar {
        padding: 5px 10px;
    }


    .navbar-nav {
        display: block;
        text-align: center;
    }

    .nav-item {
        margin-bottom: 10px; /* Add space between nav items */
    }

}

@media (max-width: 480px) {
    .navbar-toggler {
        margin-right: auto; /* Center navbar toggler when navbar collapses */
    }

    .form-group {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 18px; /* Even smaller heading for very small devices */
    }
}

@media (min-width: 769px) {
    .container {
        margin-top: 80px; /* More space on large screens */
    }
}