<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Club</title>
    <script src="admin.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Book Form</a></li>
            <li><a href="/admin">Admin Page</a></li>
            <li><a href="/time_slot">Time Slot Management</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <h1>Add New Club</h1>
    <form onsubmit="submitForm(event)">
        <label for="name">Club Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <button type="submit">Add Club</button>
    </form>
</body>

</html>